@import "normalize.css";
@import "fonts/fira.css";
/*
	Fira Sans, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic
*/
@import "fonts/Proxima-Nova/proxima.css";


html, body {
    height: 100%;
    width: 100%;
}

body{
    background: url("../img/background.png") repeat;
    font-size: 100%;
}

h1, h2, h3, h4{
    margin: 0;
    font-weight: 500;
}

p{
    padding: 0;
    margin: 0;
    font-family: fira_sanslight, sans-serif;
}

h1{
    font-size: 2.35em;
}

h2{

    font-weight: normal;
    font-size: 1.65em;
}

header {
    color: #6f727e;
    margin: auto;
    height: 95px;
    background-color: #edf1f5;
    padding-top: 25px;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.clear:after{
    content: "&nbsp;";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.container{
    width: 100%;
    min-height: 100%;
    height: auto!important;
    height: 100%;
    font-family: fira_sansbook, sans-serif;
}

/* header */

.header-wrap{
    max-width: 1200px;
    height: auto;
    margin: auto;
}

header .logo{
    display: inline-block;
    position: relative;
    float: left;
}

header #logo{
    padding-top: 5px;
    font-family: "proxima_extrabold", sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #6f727e;
}

header .social-icons{
    float: right!important;
}

header .social-icons li{
    display: inline-block;
    height: 47px;
    width: 47px;
    margin-left: 18px;
}

header .social-icons li:first-child{
    margin-left: 0;
}

header .social-icons li a{
    display: block;
    height: 100%;
    width: 100%;
}

#vk{ background: url("../img/vk.png") no-repeat;}
#vk:hover{ background: url("../img/vk1.png") no-repeat;}
#github{ background: url("../img/github.png") no-repeat;}
#github:hover{ background: url("../img/github1.png") no-repeat;}

.gradient-line{
    height: 2px;
    background: #edf1f5; /* Old browsers */
    background: -moz-linear-gradient(left,  #edf1f5 0%, #1e667a 50%, #e5edf1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#edf1f5), color-stop(50%,#1e667a), color-stop(100%,#e5edf1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #edf1f5 0%,#1e667a 50%,#e5edf1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #edf1f5 0%,#1e667a 50%,#e5edf1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #edf1f5 0%,#1e667a 50%,#e5edf1 100%); /* IE10+ */
    background: linear-gradient(to right,  #edf1f5 0%,#1e667a 50%,#e5edf1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf1f5', endColorstr='#e5edf1',GradientType=1 ); /* IE6-9 */
}

#logo-footer{
    font-size: 0.82em;
    padding-top: 7px;
    text-transform: lowercase;
}

/* content */

.content{
    max-width: 960px;
    margin: auto;
    margin-top: 35px;
    box-sizing: border-box;
}

/* navigation */

nav{
    width: 26%;
    float: left;
    overflow: hidden;
}

nav .main-nav{
    border-radius: 4px;
    background-color: #EFF3F7;
    overflow: hidden;
    margin-bottom: 30px;
}

nav .main-nav ul{
    margin: 0;
    padding: 0;
}

nav .main-nav ul li{
    float: left;
    width: 100%;
    background-color: #edf1f5;
}

nav .main-nav ul li a{
    padding: 28px 0 12px 28px;
    font-size: 1.3em;
    color: #959aa8;
    display: block;
    position: relative;
    text-decoration: none;
    background-color: #edf1f5;
}

nav .main-nav ul li a:active{
    color: white;
    background-color: #28a2bb;
    border-bottom: none;
}

nav .main-nav ul li a:after{
    content:'';
    display:block;
    position: absolute;
    right: 100%;
    transition: all .3s;
}

nav .main-nav ul li a:hover:after {
    bottom: 0%;
    left: 3%;
    right: 3%;
    border-bottom: 2px solid #3ba8c0;
}

nav .contacts{
    overflow: hidden;
    border-radius: 4px;

}

nav .contacts ul{
    margin: 0;
    padding: 0;
}

nav .contacts ul li {
    display: block;
    float: left;
    width: 100%;
}

nav .contacts ul li a{
    font-size: .925em;
    width: 100%;
    line-height: 40px;
    display: block;
    margin: auto;
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 35px 10px;
    float: left;
}

.whitespace{
    display: inline-block;
    width: 80px;
}

.btn-contacts:hover{
    text-decoration: underline;
}


#contacts{
    line-height: 40px;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #3da9c0;
    font-size: 1.3em;
    padding-left: 15px;
}

#phone{
    background-color: #48c9e6;
    background-image: url("../img/tel.png");
}

#mail{
    background-color: #41b9d2;
    background-image: url("../img/post.png");
}

#skype{
    background-color: #51d8f6;
    background-image: url("../img/skype.png");
}

section{
    width: 68%;
    float: right;
    margin: auto;
    color: #3b3d4b;
    margin-bottom: 70px;
    border-radius: 4px;
}

article{
    overflow: hidden;
    font-family: fira_sansbook, sans-serif;
    position: relative;
    margin-bottom: 30px;
    background-color: #edf1f5;
    border-radius: 4px;
}

.fullscreen{
    border-radius: 4px;
    height: auto;
}

.feedback{
    height: 600px;
}

#container{
    width: 615px;
    margin: auto;
}

#container a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}


.feedback .header{
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
    border: none;
}

.title{
    font-size: 1.6em;
    background-color: #49cbe8;
    max-width: 100%;
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 30px;
}

.underline{
    height: 20px;
    width: 100%;
    background-color: #68dffa;
}

a .top{
    height: 80px;
}

#addproject{
    text-decoration: none;
    color: #28a2bb;
}

#addproject span{
    display: block;
}

.item{
    width: 180px;
    margin: 20px 10px;
    float: left;
    border: 2px solid #28a2bb;
    border-radius: 4px;
    height: 130px;
}

.last{
    border: 2px dashed #28a2bb;
    background-image: url("../img/addimj.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.header{
    color: #28a2bb;
    display: inline-block;
    line-height: 68px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #1E667A;
}



.portrait{
    float: left;
    width: 201px;
    min-height: 200px;
    margin-left: 23px;
    margin-top: 15px;
}

.info{
    float: left;
}

.info ul{
    margin: 0;
    font-family: fira_sanslight, sans-serif;
}

.info ul li{
    padding-top: 17px;
}

.info ul .skills{
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.info ul .key-skill{
    display: inline-block;
    float: left;
}

.info ul .clear .skills span{
    text-align: center;
    min-width: 40px;
    color: whitesmoke;
    font-size: .7em;
    font-family: fira_sansbold, sans-serif;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 3px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #308ca2;
    border-radius: 4px;
    background-color: #308ca2;
    background-image: -webkit-linear-gradient(top, #3da8bf 0%, #308ca2 50%,
    #1e667a 50%, #145c7a 100%);
    background-image: -moz-linear-gradient(top, #3da8bf 0%, #308ca2 50%,
    #1e667a 50%, #1e667a 100%);
    background-image: -o-linear-gradient(top, #3da8bf 0%, #308ca2 50%, #1e667a
    50%, #145c7a 100%);
    background-image: linear-gradient(top, #3da8bf 0%, #308ca2 50%, #1e667a
    50%, #145c7a 100%);

}

input, textarea{
    width: 100%;
    border: 1px solid #69dffa;
    border-radius: 4px;
    color: #69dffa;
}

input{
    line-height: 40px;
}

textarea{
    width: 98%;
}

input::-webkit-input-placeholder {color:#69dffa; font-size: .8em; text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder          {color:#69dffa; font-size: .8em; text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder           {color:#69dffa; font-size: .8em; text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder      {color:#69dffa; font-size: .8em; text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {color:#69dffa; font-size: .8em; text-indent: 500px;   transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {color:#69dffa; font-size: .8em; text-indent: 500px;   transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {color:#69dffa; font-size: .8em; text-indent: 500px;   transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {color:#69dffa; font-size: .8em; text-indent: 500px;   transition: text-indent 0.3s ease;}

button{
    width: 140px;
    border: none;
    border-radius: 7px;
    color: white;
}

.bnt-blue button{
    background-color: #49cbe8;
    -webkit-box-shadow: 0px 3px 3px #3da9c0;
    -moz-box-shadow: 0px 3px 3px #3da9c0;
    box-shadow: 0px 3px 3px #3da9c0;
}

.right button{
    background-color: #859eb6;
    -webkit-box-shadow: 0px 3px 3px #666;
    -moz-box-shadow: 0px 3px 3px #666;
    box-shadow: 0px 3px 3px #666;
}

.btn-left{float: left;}

.btn-left, .btn{
    background-color: #49cbe8;
    -webkit-box-shadow: 0px 3px 3px #3da9c0;
    -moz-box-shadow: 0px 3px 3px #3da9c0;
    box-shadow: 0px 3px 3px #3da9c0;
}

.btn-right{
    float:right;
    background-color: #859eb6;
    -webkit-box-shadow: 0px 3px 3px #666;
    -moz-box-shadow: 0px 3px 3px #666;
    box-shadow: 0px 3px 3px #666;
}

button:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-left button:active, .btn:active{
    -webkit-box-shadow: 0px -3px 3px #3da9c0;
    -moz-box-shadow: 0px -3px 3px #3da9c0;
    box-shadow: 0px -3px 3px #3da9c0;
}

.btn-right button:active{
    -webkit-box-shadow: 0px -3px 3px #666;
    -moz-box-shadow: 0px -3px 3px #666;
    box-shadow: 0px -3px 3px #666;
}

.forms{
    max-width: 400px!important;
    width: 400px;
    margin: auto;
    color: #969ba9;
    padding-top: 20px;
}

.row50{
    padding-bottom: 20px;
    padding-right: 5px;
    display: inline-block;
    width: 48%;
}

.row100{
    width: 100%;
    padding-bottom: 20px;
}

.row100 input{
    height: 150px;
}

.list{
    padding-left: 65px;
    margin-top: 20px;
}

.list li{
    margin-bottom: 37px;
}

li .left{
    min-width: 50px;
    display: inline-block;
    float: left;

}

li .right{
    clear: left;
    display: inline-block;
    margin-left: 40px;

}





/* footer */

footer{
    margin: -60px auto 0;
    height: 60px;
    clear: both;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: inline-block;
}

footer .copyright{
    background-color: #edf1f5;
    height: 100%;
}

footer .copyright p{
    color: #6f727e;
    font-size: .9em;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}



/*Модальное окно*/
#modal{
    width: 365px;
    border-radius: 5px;
    background-color: #eff3f7;
    position: fixed;
    display: none;
    top:50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -180px;
    opacity: 0;
    z-index: 5;
    font-family: fira_sansbook, sans-serif;
    overflow: hidden;
}

#modal label{
    color: #aaafba;
}

#modal form{
    width: 92%;
    margin: auto;
}

#modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

div.fileinputs{
    position: relative;
}
div.fakefile{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

input.file{
    position: relative;
    text-align: right;
    -moz-opacity: 0;
    filter:alpha(opacity: 0);
    z-index: 7;
    opacity: 0;
}

#overlay{
    z-index: 3;
    position: fixed;
    background-color: #3b3d4b;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.modal-head{
    max-width: 100%;
    color: #FBFCFD;
    font-size: 24px;
    font-weight: 400;
    background-color: #00CCEA;
    position: relative;
    border-bottom: 9px solid #00e0fb;
    line-height: 40px;
    padding-left: 20px;
}

.modal-head #modal_close{
    border-radius: 50%;
    background: url('../img/close.png') #00CCEA;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 11px;
    position: absolute;
    cursor: pointer;
    float: right;
}

#btn-add-project{
    width: 100%;
    text-align: center;
    margin: 13px auto 20px;
}





@media screen and (min-width: 1141px){
    header .logo{
        float: left;
    }

    header .picts{
        float: right;
    }

    footer .contacts{
        display: none;
    }

}

@media (min-width: 961px) and (max-width: 1140px) {

    footer .contacts{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 960px) {
    nav{
        display: none;
    }

    section{
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    footer .contacts{
        min-width: 100%;
        display: inline-block;
    }

    footer .contacts ul{
        margin: 0;
        padding: 0;
    }

    footer .contacts ul li {
        float: left;
        width: 33.3%;
        height: 33px;
    }

    footer .contacts ul li a{
        height: 100%;
        display: block;
        margin: auto;
        color: white;
        text-decoration: none;
        text-align: center;
        background-repeat: no-repeat;
        background-position: 10% 10px;
        padding-top: 13px;
        padding-bottom: 0;
        font-size: .9em;
    }

    footer .contacts ul li a:hover{
        text-decoration: underline;
    }

}

@media (min-width: 321px) and  (max-width: 768px) {
    nav{
        display: none;
    }

    section{
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    #container{
        width: 98%;
    }

    footer .contacts{
        display: block;
    }

    footer .contacts ul{
        margin: 0;
        padding: 0;
    }

    footer .contacts ul li {
        float: left;
        width: 100%;
        min-height: 46px;
    }

    footer .contacts ul li a{
        height: 100%;
        display: block;
        margin: auto;
        color: white;
        text-decoration: none;
        text-align: center;
        background-repeat: no-repeat;
        background-position: 10% 10px;
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: .9em;
    }

    footer .contacts ul li a:hover{
        text-decoration: underline;
    }

}

@media (max-width: 320px){
    nav{
        display: none;
    }

    section{
        width: 100%;
    }

    footer .contacts{
        display: block;
    }

    footer .contacts ul{
        margin: 0;
        padding: 0;
    }

    footer .contacts ul li {
        float: left;
        width: 100%;
        min-height: 46px;
    }

    footer .contacts ul li a{
        height: 100%;
        display: block;
        margin: auto;
        color: white;
        text-decoration: none;
        text-align: center;
        background-repeat: no-repeat;
        background-position: 10% 10px;
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: .9em;
    }

    footer .contacts ul li a:hover{
        text-decoration: underline;
    }
}







